/* 基础设置 */
/* 公用版心 */
/* 让内容居中 */
.container {
    width: 1190px;
    margin: 0 auto;
    /* 版心不设置高度，由内容撑开 */
    /* height: 30px; */
    /* background-color: aqua; */
}

/* #region main-content */

.main-content {
    margin-top: 10px;
}

.main-content .side-nav {
    width: 190px;
    height: 458px;
    background-color: #F4F4F4;

    /* 父元素相对定位
    配合子元素绝对定位 */
    position: relative;
}

.main-content .side-nav li {
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding-left: 16px;
}

.main-content .side-nav li:hover {
    background-color: #DD302D;
}

.main-content .side-nav li:hover>a {
    color: white;
}

.main-content .side-nav li:hover .second-menu {
    /* 一级菜单鼠标浮动
    二级菜单才显示 */
    display: block;
}

.main-content .second-menu {
    /* 加大宽度紧贴一级菜单 */
    /* width: 700px; */
    /* 减掉左内边框
    保持整体宽度仍然是700 */
    width: 680px;
    height: 458px;
    background-color: white;

    /* 绝对定位 */
    position: absolute;
    top: 0;
    left: 190px;

    /* 距离左边宽度 */
    padding-left: 20px;

    /* 默认不显示 */
    display: none;
}

.main-content .second-menu dl {
    height: 36px;
    line-height: 36px;
}

.main-content .second-menu dl:first-child {
    margin-top: 10px;
}

.main-content .second-menu dt {
    float: left;
    width: 70px;
    font-weight: bold;
    margin-right: 10px;
}

.main-content .second-menu dd {
    float: left;
}

.main-content .second-menu dd a {
    padding: 0 10px;
    border-left: 1px solid #666666;
}


.main-content .banner {
    width: 690px;
    height: 458px;
    background-color: green;
    margin: 0 10px;
}


.main-content .side-other {
    width: 290px;
    height: 458px;
    /* background-color: orange; */
}

.main-content .side-other .message {
    /* 宽高减去边框 */
    /* width: 290px; */
    /* height: 158px; */
    /* width: 288px; */
    /* height: 156px; */
    /* 宽减去上下padding */
    width: 260px;
    height: 156px;
    border: 1px solid #D9D9D9;
    padding: 0 14px;

}

.main-content .side-other .message .title {
    /* 减去边框 */
    /* height: 39px;
    line-height: 39px; */
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #D9D9D9;

}

.main-content .side-other .message .title span {
    font-size: 14px;
}

.main-content .side-other .message .title a {
    font-size: 12px;
}

.main-content .side-other .message .message-list li {
    height: 26px;
    line-height: 26px;
}

.main-content .side-other .other-nav {
    width: 290px;
    height: 290px;
    margin-top: 10px;
    /* background-color: gray; */

    /* 避免margin塌陷 */
    overflow: hidden;
}

.main-content .side-other .other-nav .other-nav-list:first-child {
    /* 注意margin塌陷 */
    margin-top: 16px;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(2) {
    /* 第二个ul */
    margin: 17px 0;
}

.main-content .side-other .other-nav .other-nav-list li {
    width: 48px;
    height: 70px;
    /* background-color: skyblue; */
    float: left;
    margin: 0 11px;
    text-align: center;
    /* 临时改变鼠标指针
    后续用a标签嵌套 */
    cursor: pointer;
}

.main-content .side-other .other-nav .other-nav-list li:first-child {
    margin-left: 16px;
}

.main-content .side-other .other-nav .other-nav-list .picture {
    /* div必须有宽和高才能显示背景 */
    width: 48px;
    height: 48px;
    /* 使用一张精灵图节省服务器请求次数 */
    /* 每个位置使用坐标控制显示的位置 */
    background-image: url("../images/精灵图-侧边功能.png");
}

.main-content .side-other .other-nav .other-nav-list:nth-child(1) li:nth-child(1) .picture {
    background-position: 0 0;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(1) li:nth-child(2) .picture {
    background-position: -48px 0;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(1) li:nth-child(3) .picture {
    background-position: -96px 0;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(1) li:nth-child(4) .picture {
    background-position: -144px 0;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(2) li:nth-child(1) .picture {
    background-position: 0 -48px;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(2) li:nth-child(2) .picture {
    background-position: -48px -48px;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(2) li:nth-child(3) .picture {
    background-position: -96px -48px;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(2) li:nth-child(4) .picture {
    background-position: -144px -48px;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(3) li:nth-child(1) .picture {
    background-position: 0 -96px;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(3) li:nth-child(2) .picture {
    background-position: -48px -96px;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(3) li:nth-child(3) .picture {
    background-position: -96px -96px;
}

.main-content .side-other .other-nav .other-nav-list:nth-child(3) li:nth-child(4) .picture {
    background-position: -144px -96px;
}


/* #endregion main-content */