/* 基础设置 */
/* 公用版心 */
/* 让内容居中 */
.container {
    width: 1190px;
    margin: 0 auto;
    /* 版心不设置高度，由内容撑开 */
    /* height: 30px; */
    /* background-color: aqua; */
}

/* #region seckill */

.seckill {
    margin-top: 10px;

}

.seckill img {
    float: left;
    margin-right: 11px;
    /* 修改鼠标样式为小手
    后续通过JS设置链接地址 */
    cursor: pointer;

}

.seckill img:last-child {
    margin-right: 0;
}


/* #endregion seckill */